@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: 100%;
}

:root {
  --foreground-rgb: rgb(50, 50, 50);
  --background-rgb: rgb(240, 240, 240);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: rgb(240, 240, 240);
    --background-rgb: rgb(50, 50, 50);
  }
}

body {
  max-height: 100%;
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  background-attachment: fixed;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
